<suite name="BN_Suite" parallel="tests" thread-count="2">
    <test name="Chrome_Tests">
        <parameter name="browser" value="chrome"/>
        <system-properties>
            <property name="browser" value="chrome"/>
        </system-properties>
        <classes>
            <class name="runner.TestNGCucumberRunner"/>
        </classes>
    </test>
</suite>
